.main{
  margin-left: 12em;
  margin-right: 12em;
}

.main2{
  margin-left: 12em;
  margin-right: 12em;
}
  
p {
  font-family: "Avenir Next" !important;
  font-size: 16px;
  margin: 0px; 
  padding: 0px;
}

h1 {
  font-family: "Avenir Next" !important;
  font-size: 35px;
  font-weight: 400;
  font-weight: 500;
  color: #000000;
}

h2 {
  font-family: "Avenir Next" !important;
  font-size : 30px; 
  font-weight: 400;
  margin: 0px; 
  padding: 0px;
  font-weight: 500;
  color: #000000;
}

h3{
  font-family: "Avenir Next" !important;
  font-size : 23px;
  color: #464646;
  font-weight: 500;
  margin: 0px; 
  padding: 0px;
}

h4{
  font-family: "Avenir Next" !important;
  font-size : 18px;
  color : #383838;
  font-weight: 600;
  margin : 0px;
  padding-top : 1em;
}

h5{
  font-family: "Avenir Next" !important;
  font-size : 28px; 
  font-weight: 400;
  margin: 10px 0px 10px 0px; 
  padding: 0px;
  font-weight: 500;
  color: #6e0c0c;
}

h6 {
  font-family: "Avenir Next" !important;
  text-align: justify;
  font-size: 15px ; 
  font-weight: 400;
  color: #797979;
  margin-top : 5px;
  margin-bottom: 20px;
}

h7 {
  font-family: "Avenir Next" !important;
  font-size : 16px;
  color: #797979;
  font-weight: 600;
  margin : 0px;
  padding-top : 0px;
  font-weight: 500;
}

h8{
  color: #6e0c0c;
  font-family: "Avenir Next" !important;
  font-size : 18px;
  font-weight: 600;
  margin : 0px;
  padding-top : 1em;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
  decoration: none; 
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin : 0px 0px 30px 0px;
  color: #6e0c0c;
  background-image: url("https://raw.githubusercontent.com/mathildehg/critiques_nadine/main/images/header.png")
}

.presentation{
  padding-top: 40px; 
}

.headerrectangle {
  border: solid 2px #6e0c0c;
  border-radius: 8px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(185, 166, 166, 0.64);
  font-family: "Avenir Next" !important;
  font-size: 40px;
  text-align: center;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  }

.container{
  display : flex; 
  flex-flow: row no-wrap;
  justify-content: space-between;
  column-gap: 2%;
}

.image {
  padding-bottom: 1em; 
  margin: 0px;
  padding: 0px;
}


.container2 {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 2%;
    margin-bottom: 30px;
    }
    
.col1 {
	flex: 1; 
    }
    
.col2 {
	flex: 1;
    }

.image2 {
  padding-bottom: 1em; 
  margin: 0px;
  padding: 0px;
}

.bandeauR{
  display: flex;
  background-color: #6e0c0c;
  height : 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.decouvrir{
  font-family: "Avenir Next" !important;
  border: solid 2px #ffffff;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.decouvrir:hover {
  font-family: "Avenir Next" !important;
  border: solid 2px #ffffff;
  background-color: #8A3636;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.resumer{
  padding: 15px 20px 15px 20px;
  border-radius: 12px;
  border: dotted 2px #6e0c0c;
  margin-top : 30px;
  margin-bottom : 20px;
}

.citation {
    padding: 0px 0px 0px 10px;
    font-family: "Avenir Next" !important;
  color : #464646;
  margin : 20px; 
  border: solid 1px;
  border-color : #ffffff #ffffff #ffffff #6e0c0c;
}

.result{
  padding: 15px 20px 15px 20px;
  border-radius: 12px;
  border: dotted 2px #6e0c0c;
  width : 100px;
  margin: auto;
  text-align: center;
}

.auteur {
  display : flex;
  flex-flow: row no-wrap;
  margin-top: 30px;
  padding: 20px 30px 20px 30px;
  border-radius: 3px;
  background-color: #dbdbdb;
}

.colimg {
  margin: 10px;
    }

.colbio {
  margin: 5px;
}

.imageauteur { 
  padding: 0px;
}

.boutonsnav{
  display : flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
  margin: 20px;
}


.footer{
 display: flex; 
 flex-direction: column;
 background-color: #E8D7D3; 
 height: 180px; 
 padding : 0em 12em;
 row-gap: 5px;
 justify-content: center;
}


@media screen and (max-width: 992px) {
  .main{
  margin-left: 6em;
  margin-right: 6em;
}
  
  .main2{
  margin-left: 6em;
  margin-right: 6em;
}
  
.footer{
 display: flex; 
 flex-direction: column;
 background-color: #E8D7D3; 
 height: 180px; 
 padding : 0em 6em;
 row-gap: 5px;
 justify-content: center;
}


}

@media screen and (max-width: 576px) {
  
  .main{
  margin-left: 3em;
  margin-right: 3em;
}
  
  .main2{
  margin-left: 2em;
  margin-right: 2em;
}
  
  
h1 {
  font-family: "Avenir Next" !important;
  font-size: 30px;
  font-weight: 400;
  font-weight: 500;
  color: #000000;
}
  
   h2 {
  font-family: "Avenir Next" !important;
  font-size : 20px; 
  font-weight: 400;
  margin: 0px; 
  padding: 0px;
  font-weight: 500;
  color: #000000;
}
  
  
h6 {
  font-family: "Avenir Next" !important;
  text-align: justify;
  font-size: 15px ; 
  font-weight: 400;
  color: #797979;
  margin-top : 8px;
  margin-bottom: 0px;
}
  
h3{
  font-family: "Avenir Next" !important;
  font-size : 18px;
  color: #464646;
  font-weight: 500;
  margin: 0px; 
  padding: 0px;
}
  
 .presentation{
  padding-top: 15px; 
}
  
  .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin : 0px 0px 30px 0px;
  color: #6e0c0c;
  background-image: url("https://raw.githubusercontent.com/mathildehg/critiques_nadine/main/images/header.png")
}

  
  .headerrectangle {
  border: solid 2px #6e0c0c;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 20px;
  margin: 0px 30px 0px 30px;
  background-color: rgba(185, 166, 166, 0.64);
  font-family: "Avenir Next" !important;
  font-size: 30px;
  text-align: center;
}
  
.container{
  display : flex; 
  flex-direction: column;
  flex-flow: row no-wrap;
  justify-content: space-between;
  column-gap: 2%;
}

.image {
  margin: 0px;
  padding-top: 20px;
}
  
.container2 {
  display : flex; 
  flex-direction: column;
  flex-flow: row no-wrap;
  justify-content: space-between;
  column-gap: 2%;
  column-gap: 2%;
  margin-bottom: 30px;
    }
  
  .auteur {
  display : flex; 
  flex-direction: column;
  flex-flow: row no-wrap;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  background-color: #dbdbdb;
}
  
 .boutonsnav{
  display : flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}
  
.bandeauR{
  display: flex;
  background-color: #6e0c0c;
  height : 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

  
.footer{
 display: flex; 
 flex-direction: column;
 background-color: #E8D7D3; 
 height: 180px; 
 padding : 0em 3em;
 row-gap: 5px;
 justify-content: center;
}

}
