p {
  font-family : Helvetica;
  text-align: center;
  padding-left : 2.5em;
  padding-right: 2.5em;
  margin : 2em;
}

h1 {
  font-family: Helvetica;
  font-size : 40px;
}

h2 {
  font-family: Helvetica;
  font-size : 30px;
  padding-left : 2.5em;
}

.header {
  padding-top: 6em;
  padding-bottom: 2em;
  padding-left: 2.5em;
  background-color: #B65050;
  color : white;
  font-size: 30px;
}
