.main{
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 2em;
}

p {
  font-family : Helvetica;
  text-align: justify;
}

h1 {
  font-family: Helvetica;
  font-size : 40px;
}

h2 {
  font-family: Helvetica;
  font-size : 30px;
}

h3{
  font-family: Helvetica;
  font-size : 20px;
  color : #383838;
}

h4{
  font-family: Helvetica;
  font-size : 18px;
  color : #383838;
  margin : 0px;
  padding-top : 1em;
}

txt{
  font-family : Helvetica;
  text-align: justify;
  font-size: 14px ; 
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  }

.header {
  padding-top: 6em;
  padding-bottom: 2em;
  padding-left: 5.2em;
  margin : Oem;
  background-color: #B65050;
  color : white;
  font-size: 30px;
}

.container{
  display : flex; 
  flex-flow: row no-wrap;
  justify-content: space-between;
  column-gap: 2%;
}

.image {
  padding-bottom: 1em; 
}
